body, html {
	margin: 0;
	padding: 0;
}

html {
	white-space: nowrap;
	font-size: smaller;
	font-family: arial, sans-serif;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

#canvas {
	border: 1px solid black;
	height: 256px;
	width: 256px;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

#canvas div {
	border: 1px solid #ccc;
}
